snippet use use strict declaration
	'use_strict'
snippet cla class definition with constuctor
	class @${1:ClassName}
		constuctor: (@${2:field}) ->${0}
snippet log console log function
	console.log("${1}")${0}
