snippet use "use strict declaration"
'use_strict'
$0
endsnippet

snippet cla "class definition with constuctor"
class @${1:ClassName}
	constuctor: (@${2:field}) ->$3
endsnippet

snippet log "console log function"
console.log("${1}")$2
endsnippet
