# --------------------------------
# Methods, modules, declarations
# --------------------------------
snippet def "function definition"
def $1 do
	$2
end
endsnippet

snippet defm "module definition"
defmodule $1 do
	$2
end
endsnippet

snippet defp "private function definition"
defp $1 do
	$2
end
endsnippet
