snippet mtmp "Meteor: Template"
<template name="${1:name}">
	${2}
</template>
endsnippet

snippet meach "Meteor: Each"
{{#each ${1:collections}}}
	${2}
{{/each}}
endsnippet

snippet mif "Meteor: If"
{{#if ${1:statement}}}
	${2}
{{/if}}
endsnippet

snippet mife "Meteor: If then Else"
{{#if ${1:statement}}}
	${2}
{{else}}
	${3}
{{/if}}
endsnippet
