snippet fun "function"
function $1($2) {
	$3
}
endsnippet

snippet log "console log"
console.log('${1}');
endsnippet

snippet strict "enable strict mode"
'use strict';
endsnippet

snippet /* "block comment"
/**
 * ${1:Description of class}
 */
endsnippet
