# ===============================================
# Rails controller snippets
# ===============================================
snippet baf "before action filter"
before_action :${1:method}
endsnippet
