# --------------------------------
# Methods, modules, declarations
# --------------------------------
snippet def method definition
	def ${1}
		${0}
	end
snippet defi intialize definition
	def initialize(${1})
		${0}
	end
snippet cla class definition
	class ${1}
		${0}
	end
snippet dcl derived class definition
	class ${1} < ${2}
		${0}
	end
snippet mod module definition
	module ${1}
		${0}
	end
