# --------------------------------
# Blocks
# --------------------------------
snippet do "do block"
do |$1|
	$2
end
endsnippet

snippet each "each block"
each do |$1|
	$2
end
endsnippet

snippet "(\S+)\.map" "map inline block" r
`!p snip.rv=match.group(1)`.map(&:${1::method})$0
endsnippet

snippet "(\S+)\.red" "reduce inline block" r
`!p snip.rv=match.group(1)`.reduce(&:${1:+})$0
endsnippet
