# --------------------------------
# Blocks
# --------------------------------
snippet do do block
	do |${1}|
		${0}
	end
snippet each each block
	each do |${1}|
		${0}
	end
snippet map map block
	map(&:${1})${0}
