# --------------------------------
# Other
# --------------------------------
snippet req require
	require '${0}'
snippet LP Load path
	$LOAD_PATH.unshift(File.expand_path("${1:..}", __FILE__))
snippet # hash rocket marker
	# =>
snippet ## comment line separator
	# --------------------------------
