# --------------------------------
# If, while, etc.
# --------------------------------
snippet if if construct
	if ${1}
		${0}
	end
snippet ife if else construct
	if ${1}
		${2}
	else
		${0}
	end
snippet ifel if else construct
	if ${1}
		${2}
	elsif ${3}
		${4}
	else
		${0}
	end
