# --------------------------------
# Blocks
# --------------------------------
snippet do "do block"
do |$1|
	$2
end
endsnippet

snippet each "each block"
	each do |$1|
		$2
	end
endsnippet

snippet map "map block"
	map(&:$1)$2
endsnippet
