# ===============================================
# ESLINT
# ===============================================
snippet edr "eslint disable rule comment"
/* eslint-disable ${1:rule-name} */
endsnippet

snippet eer "eslint disable rule comment"
/* eslint-enable ${1:rule-name} */
endsnippet

snippet edl "eslint disable line rule comment"
// eslint-disable-line ${1:rule-name}
endsnippet
