# ===============================================
# Mocha testing library snippets
# ===============================================
snippet desc "describe test entity"
describe('${1:entity}', function() {
	$2
});
endsnippet

snippet context "test context"
context('${1:happy path}', function() {
	$2
});
endsnippet

snippet it "it single test"
it('should ${1}', function() {
	$2
});
endsnippet
