# ===============================================
# JSX helpers
# ===============================================
snippet <d "JSX dom component" w
<${1:div} ${2:className='$3'}>
	$4
</$1>
endsnippet

snippet <c "JSX custom Component" w
<${1:Component} ${2:${3:property}={${4:value}}} />
endsnippet

snippet nbsp "&nbsp;"
&nbsp;
endsnippet
