# ===============================================
# Flow helpers
# ===============================================
snippet @fl "flow declaration"
/* @flow */
endsnippet

snippet @flw "flow weak declaration"
/* @flow weak */
endsnippet
