# ===============================================
# ESLINT
# ===============================================
snippet edl "eslint disable line comment"
// eslint-disable-line ${1:rule-name}
endsnippet
