# ===============================================
# Classnames library snippets
# ===============================================
snippet cnames "classnames definition"
const ${1:table}Classes = classnames({
	'${2:class}': ${3:condition}
});
endsnippet
