# ===============================================
# ESLINT
# ===============================================
snippet edf "eslint disable file comment"
// eslint-disable ${1:rule-name}
endsnippet

snippet edl "eslint disable line comment"
// eslint-disable-line ${1:rule-name}
endsnippet
