# --------------------------------
# Blocks
# --------------------------------
snippet do "do block"
do |$1|
	$2
end
endsnippet

snippet each "each block"
each do |$1|
	$2
end
endsnippet

snippet map "map inline block" w
map(&:${1:method})$0
endsnippet

snippet red "reduce inline block" w
reduce(&:${1:+})$0
endsnippet
