# --------------------------------
# If, while, etc.
# --------------------------------
snippet if "if construct"
if $1
	$2
end
endsnippet

snippet ife "if else construct"
if $1
	$2
else
	$3
end
endsnippet

snippet ifel "if else construct"
if $1
	$2
elsif $3
	$4
else
	$5
end
endsnippet
