# --------------------------------
# Basics
# --------------------------------
snippet test "test block"
test '${1:test description}' do
	$2
end
endsnippet

# --------------------------------
# Asserts
# --------------------------------
snippet ass "assert"
assert ${1:expected}, message: '${2:message}'
endsnippet

snippet ref "refute"
refute ${1:expected}, message: '${2:message}'
endsnippet

snippet ase "assert_equal"
assert_equal ${1:expected}, ${2:actual}
endsnippet

snippet asm "assert_match"
assert_match ${1:expected}, ${2:actual}
endsnippet

snippet asnn "assert_not_nil"
assert_not_nil ${1:value}
endsnippet

# --------------------------------
# RSpec
# --------------------------------

snippet desc "describe block"
describe '${1:something}' do
	$2
end
endsnippet

snippet cont "context block"
context '${1:error case}' do
	$2
end
endsnippet

snippet it "it block"
it '${1}' do
	$2
end
endsnippet

snippet exp "expect to"
expect(${1:expression}).to $2
endsnippet

snippet expn "expect not to"
expect(${1:expression}).not_to $2
endsnippet
