snippet mt "margin-top"
margin-top: $0px;
endsnippet

snippet mb "margin-bottom"
margin-bottom: $0px;
endsnippet

snippet mr "margin-right"
margin-right: $0px;
endsnippet

snippet ml "margin-left"
margin-left: $0px;
endsnippet

snippet ma "margin all"
margin: $1px $2px $3px $4px;
endsnippet

snippet wi "width"
width: $0px;
endsnippet
