# ===============================================
# Rails
# ===============================================
# --------------------------------
# Relations
# --------------------------------
snippet bt belongs_to relation
	belongs_to :${0}
snippet hm has_many relation
	has_many :${0}
