snippet mt margin-top
	margin-top: ${0}px
snippet mb margin-bottom
	margin-bottom: ${0}px
snippet mr margin-right
	margin-right: ${0}px
snippet ml margin-left
	margin-left: ${0}px
snippet ma margin all
	margin: ${1}px ${2}px ${3}px ${0}px
