# =======================================================================================
# Plugin mappings
# =======================================================================================

# Tree view mappings
'.tree-view':
  'o': 'tree-view:open-selected-entry'
  'i': 'tree-view:open-selected-entry-down'
  'v': 'tree-view:open-selected-entry-right'
  'f1': 'tree-view:toggle-focus'

# Jumpy mappings
'atom-text-editor:not(.mini).vim-mode:not(.insert-mode):not(.jumpy-jump-mode)':
  ', ,': 'jumpy:toggle'

# =======================================================================================
# Vim mode mappings
# =======================================================================================

# ---------------------------------------------------------------------------------------
# Normal mode mappings
# ---------------------------------------------------------------------------------------

'atom-text-editor:not(.mini).vim-mode:not(.insert-mode)':
  # Defaults overriding
  'H': 'vim-mode:move-to-first-character-of-line'
  'L': 'vim-mode:move-to-last-character-of-line'
  # Common tasks
  ', w': 'core:save'
  ', q': 'core:close'
  ', f': 'atom-beautify:beautify-editor'
  'up': 'pane:increase-size'
  'down': 'pane:decrease-size'
  # Buffer management
  '_': 'pane:show-previous-item'
  '+': 'pane:show-next-item'
  # F-keys
  'f1': 'tree-view:toggle-focus'
  'f2': 'tree-view:reveal-active-file'
  # Leader mappings
  'space p': 'command-palette:toggle'
  'space o': 'fuzzy-finder:toggle-file-finder'
  'space b': 'fuzzy-finder:toggle-buffer-finder'
  'space t': 'symbols-view:toggle-file-symbols'
  'space y': 'clipboard-plus:toggle'
  'space s': 'snippets:available'
  'space g': 'project-find:show'
  'space r': 'find-and-replace:show'
  # Git diff
  '] c': 'git-diff:move-to-next-diff'
  '[ c': 'git-diff:move-to-previous-diff'
  # Matching ruby block
  'ctrl-b': 'ruby-block:go-to-matching-line'

# ---------------------------------------------------------------------------------------
# Insert mode mappings
# ---------------------------------------------------------------------------------------

'atom-text-editor:not(.mini).vim-mode.insert-mode':
  'ctrl-a': 'vim-mode:move-to-first-character-of-line'

# ---------------------------------------------------------------------------------------
# Visual mode mappings
# ---------------------------------------------------------------------------------------

'atom-text-editor:not(.mini).vim-mode.visual-mode':
  'H': 'vim-mode:move-to-first-character-of-line'
  'L': 'vim-mode:move-to-last-nonblank-character-of-line-and-down'
  # Multiple cursors
  'ctrl-n': 'find-and-replace:select-next'